#welcome {
    text-align: center;
}

#create {
    text-align: center;
}

@media (min-width: 801px) {
    #close {
        top: 104px;
    }
}

#userInfo {
    margin: 0px 0px 8px 0px;
    padding: 0px;
}

body {
    overflow: hidden;
}

.user {
    padding: 4px 10px;
    display: inline-block;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    height: 239px;
}

/* Style each tab content individually */
#LogOut {background-color:rgb(176,63,84);}
#FavPlaces {background-color:rgb(176,63,84);}
#FavSub {background-color:rgb(176,63,84);}
#Map {background-color:rgb(77,158,19);}
#GoHome {background-color:rgb(22,96,186);}
#Settings {background-color:rgb(98,34,135);}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px;
    text-align: left;
    position: absolute;
    left: 300px;
}

.map {
    margin-top: 0px;
}

.big-font {
    font-size: 22px;
}

.user {
    background-color:rgb(197,215,237);
}
